/* Simple but powerful Holy Grail layout
 * Please keep the following link and get back on improvements.
 * http://github.com/unkelpehr/holygrail */

/* Keep the flex items from causing horizontal scrollbar
 * when padded by applying border-box to all elements. */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Prefixes:
 * [1]	Safari 3.1
 * 		Chrome pre 20
 * [2]	Chrome 20
 * 		Safari 6.1
 * [3]	Chrome 21
 * 		Opera 12.1
 * 		Opera Mini 5
 * 		Firefox 21
 * 		IE 10
 * 		Edge 12
 * 		Safari 6.1
 * 		Chrome Android 45
 * 		Firefox Android 41
 * 		IE Mobile 10
 */

/* Flex containers
 * Inclution of '.restrict' is not crucial but nice as it sets it to 100% height. */
body, main, main .restrict,	.restrict {
	display: -webkit-box;	/* [1] */
	display: -webkit-flex;	/* [2] */
	display: flex;			/* [3] */
}

/* Full height on the body element to partially trigger the sticky footer.
 * Include the html element and use percentage instead of vh to support Safari < 6.1. */
html, body {
	height: 100%; 
}

body {
	-webkit-box-orient: vertical;	/* [1] */
	-webkit-flex-direction: column;	/* [2] */
	        flex-direction: column;	/* [3] */
}

.restrict {
	margin: 0 auto;	/* Center the restricted content horizontally */
	width: 100%;	/* Needed by Safari for centering to work properly */
}

/* Disable all flexing for the left/right columns (aside) and all the immediate children of the body element.
 * This is so their specified size will be static. */
aside, body > * {
	    -webkit-flex: 0 0 auto;	/* [2] */
	            flex: 0 0 auto;	/* [3] */
}

/* Let the main flex container to grow for the trigger sticky footer"  */
main {
	-webkit-box-flex: 1;		/* [1] */
	    -webkit-flex: 1 0 auto;	/* [3] */
	            flex: 1 0 auto;	/* [3] */
}

/* Fully flexible elements */
body, main .restrict, main article {
	-webkit-box-flex: 1;		/* [1] or Safari will not wrap contents */
	    -webkit-flex: 1 1 auto;	/* [2] */
	            flex: 1 1 auto;	/* [3] */
}
